* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
    color: #333;
}

h1 {
    font-size: 100px;
    margin-top: 100px;
}

#input-search-container {
    margin: 50px 0;
}

#word-input {
    font-size: 16px;
    padding: 0.6rem 1.2rem;
    border: 2px solid #333;
    width: 400px;
    border-radius: 1rem;
    background-color: white;
}

#search-button {
    font-size: 16px;
    padding: 0.6rem 1.2rem;
    border: 2px solid #333;
    border-radius: 1rem;
    background-color: white;
}

#search-button:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

footer {
    font-size: 14px;
    background-color: #333;
    color: #f5f5f5;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 80px;
}

a {
    color: lightblue;
    text-decoration: none;
}

#result-container {
    white-space: pre-wrap;
    text-align: left;
    margin: 0 auto;
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}